main {
  /* Margenes Izq-Der (centrado) */
  margin-left: 20%;
  margin-right: 20%;
}

/* ---------- TEXTO-DISTRIBUCION ---------- */

.contenidoDistribucion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10%;
}

.contenidoDistribucion p,
.contenidoMapa p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: justify;
}

/*Tarjeta -- Contactanos*/
.tarjetaContacto {
  border: 3px solid #11aaf2;
  border-radius: 22px;
  padding: 20px;
}
.tarjetaContacto h2 {
  text-align: center; /* Centrar titulo "Contactanos" */
}

/* ---------- FORMULARIO ---------- */

.formularioContacto label {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.formularioContacto input,
.formularioContacto textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: 46%; /* Ajusta anchoCampoEntrada. 46%Llega a divSupIzq*/
  padding-left: 10px; /* Separacion interior de texto a box */
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 5px;
}
.formularioContacto textarea {
  height: 100px; /* Altura de campoTexto */
}

.formularioContacto button {
  background-color: #11aaf2;
  font-weight: bold;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ---------- MAPA ---------- */
.contenidoMapa .leyendaMapa {
  text-align: center;
  color: gray;
  font-size: 15px;
}

/* ---------- TELEFONO ---------- */
@media (max-width: 820px) {
  main {
    /* Margen Izq-Der (ocupa casi toda la pantalla) */
    margin: 10px;
  }
  .contenidoDistribucion {
    flex-wrap: wrap; /* 1 Fila */
  }
  .formularioContacto input,
  .formularioContacto textarea {
    width: 90%; /* AnchoCampoEntrada */
    font-size: small;
  }
}
