main {
  /* Margenes Izq-Der (centrado) */
  margin-left: 19%;
  margin-right: 19%;
}

.contenidoDistribucion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10%;
}
/* Lado Izquierdo */

.contenidoDistribucion p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: justify;
}

/*Tarjeta -- Contactanos*/
.tarjetaContacto {
  border: 3px solid #11aaf2;
  border-radius: 22px;
  padding: 20px;
}
.tarjetaContacto h2 {
  text-align: center;
}
