nav a {
  display: inline-block;
  border: 4px solid blue;
  border-radius: 10px;
  padding: 10px 20px;
  color: white;
  background-color: #ec0606;
  text-decoration: none;
}
nav a:hover {
  background-color: orange;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.headerIzq {
  display: flex;
  align-items: center;
  gap: 10px;
}
