nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.headerDer a {
  border-radius: 10px;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}
.headerDer a:hover {
  background-color: orange;
  color: white;
}

.headerIzq {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerIzq a {
  font-size: 50px;
  color: black;
  text-decoration: none;
}
.headerIzq a:hover {
  color: orange;
}
