/* Navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

.headerDer a {
  border-radius: 10px;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
}
.headerDer a:hover {
  background-color: orange;
  color: white;
}

.headerIzq {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerIzq a {
  font-size: 50px;
  color: black;
  text-decoration: none;
}
.headerIzq a:hover {
  color: orange;
}

/* --------------------- */
/* Contacto */

.contenidoDistribucion {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
  margin-left: 15%;
  margin-right: 15%;
}

.textoDistribucion h1,
.textoDistribucion h2 {
  font-weight: 700;
}

.textoDistribucion h2 {
  margin-top: 28px;
}

.textoDistribucion p {
  line-height: 1.3;
  max-width: 740px;
}

.tarjetaContacto {
  margin-top: 78px;
  width: 430px;
  border: 3px solid #11aaf2;
  border-radius: 22px;
  padding: 30px;
}

.tarjetaContacto h2 {
  margin: 0;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}

.tarjetaContacto p {
  margin: 18px 0 0;
  line-height: 1.35;
  text-align: justify;
}
