main {
  /* Margenes Izq-Der (centrado) */
  margin-left: 20%;
  margin-right: 20%;
}

model-viewer {
  justify-self: center;
  height: 450px; /*Altura del modelo 3D*/
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 6px solid #f27f0c;
  border-radius: 18px;
  box-sizing: border-box;
  background-color: white;
  box-sizing: border-box; /* Borde no afecta  tamaño total del modelo */
}
/* ======== PRODUCTOS ======== */
/*FOCA ICE*/

.posterSabores {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* 3 columnas: texto, imagen, derecha */
  align-items: center; /* Centra texto V*/
  margin-bottom: 20px;
}

.posterSabores .poster {
  grid-column: 2;
  justify-self: center;
  /* Tamaño de poster */
  height: 250px;
  width: auto;
}
.posterSabores .info {
  grid-column: 1;
  justify-self: start;
  text-align: left;
}

.info ul {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  padding: 0;
  margin-right: 10px;
}
.info li {
  list-style-type: none; /*Elimina viñeta (circulo de lista)*/
  text-align: center; /* Centra texto*/
  margin-bottom: 5px; /*Separacion V entre texto/fila */
}
/*imagenes*/
.focaIceContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.iceProducto img {
  width: 170px;
  height: 170px;
  border-radius: 10px;
  object-fit: contain;
  border: 3px solid #f27f0c;
}

/* ALIBOMBO */
.alibomboGaleria {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 15px; /* Espacio entre imágenes */
}
.alibomboGaleria img {
  width: 170px;
  height: 170px;
  border-radius: 10px;
  object-fit: contain;
  border: 3px solid #f27f0c;
}

#logoAlibombo {
  display: flex;
  margin: 0 auto; /* Centra  logo horizontalmente */
  width: 250px;
  height: auto;
}

/*ULTIMA FOTO - FocaIce todos*/

.imagenProductosTodos img {
  margin-top: 70px; /*Separacion superior*/
  display: flex;
  justify-self: center; /* Centra H*/

  width: 600px;
  height: auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  border-radius: 10px;
}

/* ---------- TELEFONO ---------- */
@media (max-width: 820px) {
  main {
    margin: 10px;
  }
  .modelo3D {
    margin-top: 60px;
  }

  model-viewer {
    width: 85%; /* Margenes H- ancho*/
    height: 300px; /*Altura modelo3D*/
  }
  /* FOCA ICE */
  .posterSabores {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center; /*Centra V*/
    justify-self: center;
  }
  .info {
    width: 100%;
  }
  .info ul {
    display: flex;
    gap: 30px;
    overflow: scroll;
  }
  .info li {
    white-space: nowrap; /*No saltoLinea*/
    border: 3px solid #f27f0c;
    border-radius: 10px;
    padding: 5px 10px;
  }

  /* ------------ */
  .posterSabores .poster {
    height: 200px;
    justify-content: center;
    align-items: center;
  }
  .focaIceContainer {
    display: flex;
    flex-direction: row;
  }

  .iceProducto img {
    width: 130px;
    height: 130px;
  }

  .imagenProductosTodos img {
    width: 100%;
  }

  /* ALIBOMBO */
  #logoAlibombo {
    width: 200px;
    height: auto;
  }
  .alibomboGaleria img {
    width: 130px;
    height: 130px;
  }
  /*ULTIMA FOTO - FocaIce todos*/
  .imagenProductosTodos img {
    width: 100%;
  }
}
